body{
    /* background-color: black; */
    /* background-image: url("photo-1510057622795-5c8122c2c665.avif"); */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(94, 14, 223), rgb(0, 0, 0));
    text-align: center;
}
.table{
    max-width: 400px;
    margin: auto;
}
th{
    color: rgb(8, 255, 247);
    border: 2px solid rgb(0, 0, 0);
}
td{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(9, 9, 9);
}
h3{
    color: rgb(241, 238, 13);
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(43, 253, 85);
    text-decoration-style: dashed;
}
table{
    text-align: center;
    border: 3px solid rgb(255, 0, 0);
}
h1{
    color: rgb(255, 174, 0);
    text-decoration-line: underline;
    text-decoration-color: rgb(33, 255, 47);
    text-underline-offset: 10px;
    text-decoration-style: dashed;
}
.Subject{
    color: rgb(225, 255, 0);
}